  .about{
    padding-bottom: 4rem;
    min-height: 100vh;
    width: 100vw;
  }
  .aboutUs-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: bold;
    font-size: large;
  }
    blockquote {
    max-width: 800px;
    min-width: 300px;
    font-weight: bold;
    font-style: italic;
    border-left: 4px solid #999;
    padding-left: 1rem;
    margin: 1rem 0;
    color: #333;
    float:right;
  }
  .company{
    width: 600px;
    margin: 4rem 4rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
  }
  .block{
      margin: 4rem 3rem;
  }
  .gradient-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.151), rgba(255, 255, 255, 0.087));
  mix-blend-mode: luminosity;
  filter: grayscale(100%);
  z-index: 1;
}
.company-container{
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url('https://res.cloudinary.com/dn40xyabf/image/upload/v1752578851/florian-schmid-yDgg69ofPO8-unsplash_io9gwh.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 2rem;
}
.chooseUs{
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 3rem;
}
.chooseUs h1{
  max-width: 600px;
  min-width: 300px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.694);
}
.cta{
  background-color: grey;
  padding: 1rem 4rem;
}
.cta:hover{
  color: white;
  background-color: rgba(128, 128, 128, 0.815);
}
  .services {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
  }
.services-1 h2{
  padding-bottom: 2rem;
  margin-top: 0;
}
.service-items{
  max-width: 800px;
}
  .grid{
    gap: 2rem;
    padding: 2rem;
  }
  .img {
    border-radius: 20px;
    width: auto;
    height: auto;
  }
  @media screen and (max-width: 768px) {
    .chooseUs{
  display: flex;
  flex-direction: column;
}
.services{
  flex-direction: column;
}
  }