.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(8, 39, 45, 0.886);
    z-index: 1000;
    padding: 0 1rem;
    width: 100%;
    transition: transform 0.3s ease-in-out;
} 
.navbar-hidden {
    transform: translateY(-100%);
}
.logo{
    z-index: 100000000000;
}
.link, a{
    color: rgba(212, 211, 211, 0.701);
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: larger;
    padding: .5rem;
}
a:hover{
    border-radius: 10px;
    text-decoration: underline;
}
@media screen and (max-width: 767px){
    .nav-links{
        display: none;
    }
  }